/* Universal style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    ;
}
.container{
    width: 80%;
    margin: 40px auto;
}


/* header or banner section style start here */
.banner{
    width: 100%;
    height: 80vh;
    background-color: #008000c4;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
}

/* Transition Added Here */
.banner:hover .banner-logo{
    background-image: url("..//images/ready-to-kick.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 40px;
    height: 100%;
    border-radius: 20px;
}

.banner-info{
    width: 40%;
    color: white;
    padding: 50px;
}
.banner-info h1{
   font-size: 50px;
}
.banner-info p{
   font-size: 23px;
}
.banner-info button{
   font-size: 20px;
   background-color: #fff200;
   border: none;
   border-radius: 5px;
   outline: none;
   padding: 10px;
   cursor: pointer;
   transition: 0.5s;
}

.banner-info button:hover{
    background-color: red;
    color: white;
}

.banner-logo{
    transition: 0.5s;
    width: 40%;
}
/* header or banner section style end here */

/* ============================================= */

/* Blogs section style start here */
.blogs-wrapper{
    display: flex;
    justify-content: space-between;
}

.side-bar{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    background-color: black;
    height: 200px;
    padding: 15px;
    border-radius: 7px;
}

.side-bar a{
    text-decoration: none;
    text-align: center;
    background-color: white;
    padding: 15px;
    width: 80%;
    margin: 0px auto;
    border-radius: 7px;
}
.active{
    background-color: red !important;
    color: white;
}

.math-blogs{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog{
    width: 90%;
    border: 2px solid #00000038;
    border-radius: 10px;
    padding: 15px;
}
.country{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top:20px; */
    gap: 10px;
}

.country img{
    width: 50%;
}

.schedule{
    padding: 15px;
    text-align: center;
}
/* Blogs section style end here */

/* =================================== */

/* view all section start here */

.view-all-section{
    display: none;
}
.view-all{
    width: 150px;
    background-color: tomato;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.view-all a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
/* view all section end here */

/* =================================== */

/* footer section style start here */
footer{
    background-color: #00000099;
    text-align: center;
    padding: 50px 0px;
    margin-top: 100px;
}

footer > h1{
    font-size: 50px;
    color: white;
    font-family: 'Dancing Script', cursive;
}

footer > hr{
    color: black;
}
.footer-menu{
    padding: 20px 0px;
}

.footer-menu a{
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.social-icon > a{
    text-decoration: none;
    color: white;
}
.social-icon > a > i{
    font-size: 25px;
    margin: 10px;
}
/* footer section style end here */

/* ==================================== */

/* Media Queries */

/* Tablet View */
@media screen and (min-width: 568px) and (max-width: 992px) {
    .banner-info h1{
        font-size: 25px;
     }
    .banner-info h1{
        font-size: 25px;
     }
     .banner-logo img{
        width: 90%;
     }
     .blogs-wrapper{
        display: flex;
        flex-direction: column;
        justify-content:
      space-between;
    }
    .side-bar{
        width: 97%;
        flex-direction: row;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        background-color: black;
        height: 60px;
        padding: 10px;
        border-radius: 7px;
        gap: 10px
    }

    .math-blogs{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 40px 0px;
    }

    .view-all-section{
        display: block;
    }

    .footer-menu{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
    }
    .view-all{
        width: 100px;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
    }
}


/* ====================== */
/* Mobile View */
@media screen and (max-width: 567px){
    .banner{
        width: 100%;
        height: 700px;
        background-color: #008000c4;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }
    .banner-info{
        height: 50%;
        text-align: center;
        width: 70%;
        padding: 20px;
    }
    .banner-info h1{
        font-size: 25px;
     }
     .banner-logo{
        text-align: center;
        width: 100%;
        height: 50%;
     }
     .banner-logo img{
        width: 50%;
     }
     .blogs-wrapper{
        display: flex;
        flex-direction: column;
        justify-content:
      space-between;
    }
    .side-bar{
        width: 97%;
        flex-direction: column;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        background-color: black;
        height: 200px;
        padding: 10px;
        border-radius: 7px;
        gap: 10px
    }

    .math-blogs{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 40px 0px;
    }

    .view-all-section{
        display: none;
    }
    .view-all{
        width: 150px;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
    }

    .footer-menu{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
    }
    
}


